TeX/
power*
simulator/
float_lib/
min-caml/*.cm*
min-caml/*.o
min-caml/test/*.ans
min-caml/test/*.s
min-caml/test/mips_test*
min-caml/raytracer/galois*
gomi/
data/
program.txt
commit.sh
binary_conversion/Untitled.ipynb
binary_conversion/.*
syntax.txt
