## 正常に動いたもの
even-odd
fib
gcd
join-stack
join-stack3
spill
spill3
sum-tails
join-reg
join-reg2

## 異なる結果になったもの
なし

## エラーを起こしたもの
|program|reason|
|:--|:--|
|adder|jalr が未対応だった|

